.App{
    width: 100vw;
    height: 100vh;
    background-color: #e3e6eb;
}

body{
    margin: 0;
    padding: 0;
}

.Sidebar {
    height: 86vh;
    width: 100%;
    background-color: rgb(255, 0, 102);
    display: flex;
    flex-direction: row;
}

.SidebarList {
    flex:20%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.boxes {
    flex: 80%;
    background-color: #e3e6eb;
    display: flex;
    flex-direction: row;
}

.boxes .bc1 {
    flex: 33%;
    display: flex;
    flex-direction: column;
}
.boxes .bc1 .b1 {
    
    flex: 50%;
}

.bx1 {
    width: 80%;
    height: 80%;
    background-color: white;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 2rem;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.bx2 {
    width: 80%;
    height: 80%;
    background-color: white;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 2rem;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.bx3 {
    width: 80%;
    height: 80%;
    background-color: white;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 2rem;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.bx4 {
    width: 80%;
    height: 80%;
    background-color: white;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 2rem;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.bx {
    width: 80%;
    height: 90%;
    background-color: white;
    margin-left: 35px;
    margin-top: 33px;
    border-radius: 2rem;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.boxes .bc1 .b2 {
    flex: 50%;
}

.boxes .bc2 {
    flex: 33%;
    display: flex;
    flex-direction: column;
}
.boxes .bc2 .b3 {
    flex: 50%;
}
.boxes .bc2 .b4 {
    flex: 50%;
}

.boxes .bc3 {
    flex:33%;
    display: flex;
    flex-direction: column;
}

.SidebarList .row{
width: 100%;
height: 60px;
list-style-type: none;
margin: 0;
display: flex;
flex-direction: row;
color: white;
font-size:large;
font-weight: bold;
justify-content: center;
align-items: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList #active{
    background-color:ghostwhite;
    color: black;
    border-radius: 0rem 0rem 0rem 0rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: opacity 0s ease-in-out;
    border-radius: 4rem 4rem 4rem 4rem;  
    margin-left: 0.3;
    margin-right: 0.3;
    margin-top: 0.5;
    margin-bottom: 0.5;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.SidebarList #active:hover{
    background-color: white;
    color: black;
    border-radius: 0rem 0rem 0rem 0rem;  
}
    
.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex: 70%;
}


.topbar {
    background-color: rgb(255, 0, 102);
    border-bottom: 1px white solid;
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
}

.topbar .logo {
    flex:18%;
    display: grid;
    place-items: center;
    color: white;
}

.topbar .search {
    flex:70%;
    display:grid;
    place-items: center;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topbar .account {
    flex: 1%;
    display:grid;
    place-items: center;
    color: white;
}

.topbar .nameAndRole {
    flex: 11%;
    display:grid;
    place-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.accountIcon {
    transform: scale(1.6);
}

.svg_icons {
    transform: scale(3);
  }

.coronaIcon {
    transform: scale(8);
    align-items: center;
    justify-content: center;
  }

.bx {
    display: flex;
    flex-direction: column;
}

.bx .b5 {
    flex: 50%;
    background-color: white;
    display: flex;
}

.coronaIcon {
    flex: 100%;
    margin-top: 100px;
    color:rgb(30, 255, 0);
    animation: rotateCoronaIcon 5s linear infinite;
}

@keyframes rotateCoronaIcon {
    from{transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
@keyframes rotateCoronaIcon {
    0% {transform: scale(8);}
    25% {transform: scale(6);}
    50% {transform: scale(8);}
    75% {transform: scale(6);}
    100% {transform: scale(8);}
}

.bx .b6 {
    flex: 50%;
    background-color: white;
}

.coronainfo {
    width: 80%;
    height: 80%;
    margin: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: bolder;
    font-size: large;
  
}

#live {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
    font-weight: bolder;
}